@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Poppins:ital@1&display=swap');
:root {
  --border: #363636;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #2A2F4F;
  font-size: 1.2rem;
  color: #917FB3;
}

header {
  padding: 1rem 4rem;
  width: 100%;
  min-height: 10vh;
  background: #E5BEEC;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;

}

header .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border);
  cursor: pointer;
  background-color: #2A2F4F;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}