@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --border: #363636;
  --background: #22223b;
  --foreground: #4a4e69;
  --text: #f2e9e4;
  --light: #c9ada7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: var(--background);
  font-size: 1.2rem;
  color: var(--text);
}

header {
  width: 100%;
  padding: 1rem 4rem;
  min-height: 10vh;
  background: var(--foreground);
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid var(--border);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;

}

header .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input label {
  color: var(--text);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--border);
  cursor: pointer;
  background-color: var(--background);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


