.main {
  min-height: 90vh;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.image {
  background-color: var(--foreground);
  width: 80rem;
  height: 45rem;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border);
  border-radius: 3.5rem;

  overflow: hidden;
  transition: all 0.2s ease-in-out


}

.image:hover {
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.13);
}

.image img {
  width: calc(100% + 1rem);
  height: calc(100% + 0.5rem);

  object-fit: contain;
  object-position: center;
  border-radius: 0.5rem;

  
}